<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Log-In</a></li>
				<li><a href="#0">New account</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form" method="POST" action="/login">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">Username</label>
						<input class="full-width has-padding has-border" id="signin-email" type="text" placeholder="Username" name="username">
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password" name="password">
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<!-- <p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p> -->

					<p class="fieldset">
						<input class="full-width" type="submit" value="Log-In" action="/login">
					</p>
				</form>
				
				<!-- <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p> -->
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form" Method="POST" action="/signup">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">First Name</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="First Name" name="user[fname]">
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Last Name</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Last Name" name="user[lname]">
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-location">Location</label>
						<input class="full-width has-padding has-border" id="signup-location" type="text" placeholder="Location" name="user[location]">
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username" name="user[username]">
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password" name="[signup]password">
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Confirm Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Confirm Password" name="user[password_confirmation]">
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message">All Fields Required</span>
					</p>

					<!-- <p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p> -->

					<p class="fieldset">
						<input class="full-width has-padding" name="commit" type="submit" value="Create account" data-disable-with="Submitting.....">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->